a img{
	border:1px solid #000000;
}

fieldset{
	width:600px;
}

.graph{
	position:absolute;
	top:27px;
	left:66px;
	width:502px;
	height:102px;
}
.graph-container{
	position:relative;
}

.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4,
.imgareaselect-handle,
.imgareaselect-outer{
	filter:alpha(opacity=50);
	opacity:0.5;
}
.imgareaselect-border1{
	background:url(../img/rrdtool/vendor/imgareaselect-v.gif) repeat-y left top;
}
.imgareaselect-border2{
	background:url(../img/rrdtool/vendor/imgareaselect-h.gif) repeat-x left top;
}
.imgareaselect-border3{
	background:url(../img/rrdtool/vendor/imgareaselect-v.gif) repeat-y right top;
}
.imgareaselect-border4{
	background:url(../img/rrdtool/vendor/imgareaselect-h.gif) repeat-x left bottom;
}
.imgareaselect-handle{
	background-color:#FFFFFF;
	border:solid 1px #000000;
}
.imgareaselect-outer{
	border-color:#000000;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
